$fg-1: rgb(28,28,28);
$accent: rgb(163, 226, 255);
$light: rgb(245, 245, 255);
$navheight: 40px;

@font-face {
    font-family: 'upheaval';
    src: local('upheaval'), url(./fonts/upheavtt.ttf) format('truetype');
}
.navbar.main-header {
    font-family: upheaval, serif;
    color: $light;
    top: 0;
    position: fixed;
    z-index: 990;
    height: $navheight;
    width: 100%;
}
h3, .armor-title {
    font-family: upheaval, serif;
}

button.btn-primary {
    color: $fg-1;
    background-color: transparent;
    border-color: $fg-1;
    padding: 3px;
    margin: 3px;
    &:hover {
        color: $fg-1;
        background-color: $accent;
        border: 1px solid transparent;
    }

    &:hover:disabled, &:disabled {
        color: $fg-1;
        background-color: transparent;
        border: 1px solid transparent;
    }
}
.w-80 {
    width: 80%;
}
.btn-group {
    margin: 5px;
    border-color: $fg-1;
    border: 1px solid $fg-1;
    border-radius: 5px;
    button {
        padding: 2px;
        color: $fg-1;
        background-color: transparent;
        border-color: transparent;
        margin: 0px;
    }
}
.btn-group.editing {
    @extend .btn-group;
    border: 1px dotted $fg-1;
    button:hover {
        background-color: $accent;

    }
}
.table.damage-summary-table {
    margin-bottom: 0px;
}

.table.simulator-table {
    margin-bottom: 0px;
}
tr {
    th {
        position: sticky;
        top: -1px;
        background-color: white;
    }
}

.container-fluid.main-container {
    padding-top: $navheight;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.min-width-1 {
    min-width: 5em;
}
.bottom-border {
    border-bottom: 1px solid rgb(128,128,128)
}
.container-top {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.container-bottom {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.active-calculator {
    @extend .smooth-transition;
    border-left: 3px solid $accent;
}
.inactive-calculator {
    @extend .smooth-transition;
    border-left: 3px solid transparent;
    
}
.smooth-transition {
    transition: .2s all ease-in
}


.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.type-display {
    max-width: 10rem;
}

.fade-transition {
    transition: ease-in all .2s;
}
.highlighted {
    background-color: rgb(200,200,200);
}

.collapse-btn.btn {
    @extend .vc, .text-left;
}
.graph {
    width: 100%;
}
.heart-frame {
    height: 30px;
}
.heart-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.vc {
    vertical-align: middle;
}
.no-wrap {
    white-space: nowrap;
}
.muted {
    opacity: .5;
}

.annotations {
    path {
        stroke: black;
    }
}


.h-simulator {
    max-height: 87vh;
}
.h-simulator-container {
    height: 87vh;
}
.overflow-scroll {
    overflow-x: auto;
    overflow-y: auto;
}